html{
    background-color: #EBEBEB;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0em;
    padding: 0em;
}

body{
    text-align: center;  
    
}

h1{
    text-align: center;
    font-weight: 900;
    color: #DD5555;
    font-family: 'Montserrat', sans-serif;

}

h2{
    text-align: center;
    color: #807E7D;
}



.upper-site{
    background-color: #FFFFFF;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 5em;
    padding-right: 5em;
    text-align: justify;
}

.social-icons{
    background-color: #FFFFFF;
}

ul{
    list-style: none;

}

.movies{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

